# Asset Server Configuration
WEBSRV_PORT=8081
WEBSRV_PORTSSL=8082
WEBSRV_USESSL=false
WEBSRV_CERT_PATH=./src/certs/cert.pem
WEBSRV_KEY_PATH=./src/certs/key.pem
WEBSRV_CA_PATH=./src/certs/cert.ca-bundle
ASSET_SERVER_AUTH_KEY="your-unique-auth-key-here"